extends layout

block content
  div(id='background')
    div(id='header')
      header
        h1 javascript技术博客
    div(id='container')
      .main
        main(id='articleList')
          h1 #{article[0].title}
          div(id='content',style='max-height:none')
            article !{article[0].content}
              script(src="/script/jquery-3.2.1.min.js")
        .classification
          h1(id='articleType') 文章分类
            ul(id='more')
              li
                a(href='http://www.baidu.com') javascript
              li
                a(href='http://www.baidu.com') javascript
              li
                a(href='http://www.baidu.com') javascript
  script(src="/script/common.js")