extends layout

block content
  div(id='background')
    div(id='container')
      header
        h1 javascript技术博客
      main(id='articleList')
        ul
          - for(var i=0;i<articleList.length;i++){
          li #{articleList[i]}
          - }