extends layout

block content
  div(id='background')
    div(id='container')
      header
        h1 javascript技术博客
      main(id='articleList')
        h1 #{articleList[0].title}
        div(id='content')
          article !{articleList[0].content}
          div(id='mask')
        div(id='removeMask')
          span 阅读全文
        span(id='newArticle') 最新文章
        ul(id='more')
          - for(var i=1;i<articleList.length;i++){
          li
            a(href='#{articleList[i].target}') #{articleList[i].title}
          - }
  script(src="http://code.jquery.com/jquery-latest.js")
  script(src="/script/common.js")


